body  {
  max-width: 100%;
  font-size: 100%;
}

#main  {
  background-color: moccasin;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

header > p {
  text-align: center;
  margin-top: 0;
}

#title  {
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  margin: 0;
  padding: 1% 1% .5% 1%;
}

h2 {
  margin: 0;
  padding: .5% 1% 1% 1%;
  text-align: center;
  /* font-weight: 525; */
}

#img-div  {
  margin: 1%;
  background-color: snow;
}

#image  {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
  padding: 2% 0 .5%;
}

#img-caption {
  text-align: center;
  font-size: .75em;
  margin: 0;
  padding-bottom: 1%;
}

p   {
  text-align: center;
}

#tribute-div {
  padding: 2em 0;
}

 h3 {
  text-align: center;
  /* font-weight: 550; */
}

#tribute-info {
  width: 40%;
  line-height: 1.2;
  margin: 0em auto;
  padding-bottom: 2em;
  }

.year {
  font-weight: 600;
}

li {
  padding-bottom: 1%;
}

@media screen and (min-width: 320px)  {

  img-caption {
    font-size:
  }

  #tribute-info {
    width: 80%;
    line-height: 1.2;
    margin: 0em auto;
    padding-bottom: 2em;
  }

  #tribute-div-quote  {
    padding: .5%;
  }
}
@media screen and (min-width: 600px)  {

  #title  {
    font-size: 2.75rem;
  }
}
@media screen and (min-width: 950px)  {

  #title  {
    font-size: 3rem;
  }

  #img-div  {
    margin: 1% 5%;
  }

  #tribute-info {
    width: 50%;
  }
}
